.box
{
    display: flex;
    border: 10% solid black;
    width: 1600px;
    justify-content: space-around;
    height: 2600px;
    flex-wrap: wrap;
    margin-left: 150px;
}
body 
{
    background-color: blueviolet;
}
.f1
{
    font-family: 'Nunito Sans', sans-serif;
}
